[Desktop Entry]
Comment=Layout that resembles Unity Desktop
Name=Unity
X-KDE-PluginInfo-Author=Feren OS Team
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=ferenosdev@outlook.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=org.garuda.unity
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://ferenos.weebly.com/
X-KDE-ServiceTypes=Plasma/LookAndFeel
