[Desktop Entry]
Name=Unity
Name[ar]=Unity
Name[bs]=Unity
Name[ca]=Unity
Name[ca@valencia]=Unity
Name[cs]=Unity
Name[da]=Unity
Name[de]=Unity
Name[el]=Unity
Name[en_GB]=Unity
Name[es]=Unity
Name[et]=Unity
Name[eu]=Unity
Name[fi]=Unity
Name[fr]=Unity
Name[gl]=Unity
Name[he]=Unity
Name[hu]=Unity
Name[id]=Unity
Name[is]=Unity 
Name[it]=Unity
Name[ja]=Unity
Name[ko]=Unity
Name[lt]=Unity
Name[mr]=Unity
Name[nb]=Unity
Name[nds]=Unity
Name[nl]=Unity
Name[nn]=Unity
Name[pa]=Unity
Name[pl]=Unity
Name[pt]=Unity
Name[pt_BR]=Painel
Name[ru]=Unity
Name[sk]=Unity
Name[sl]=Unity
Name[sr]=Unity
Name[sr@ijekavian]=Unity
Name[sr@ijekavianlatin]=Unity
Name[sr@latin]=Unity
Name[sv]=Unity
Name[tr]=Unity
Name[uk]=Unity
Name[x-test]=xxUnityxx
Name[zh_CN]=Unity
Name[zh_TW]=Unity
Comment=Unity panel featuring active window control, application title & menu and system tray
Type=Service
X-KDE-ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=The Feren OS Dev
X-KDE-PluginInfo-Email=ferenosdev@outlook.com
X-KDE-PluginInfo-Name=org.garuda.kde.unity
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://ferenos.weebly.com/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
